@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

$black-color: black;
$white-color: white;
$disable-color: #8d8d8d;
$hover-color: #357ec2;
$selected-color: #2ac225;


$checkbox-dim: 16px;
$checkbox-border: 2px;

@mixin user-select-none {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.check-box-wrapper {
  display: inline-block;

  &:hover {
    input[type="checkbox"][custom-checkbox] + label {
      border: $checkbox-border solid $hover-color;
    }
  }

  input[type="checkbox"][custom-checkbox] {
    position: absolute;
    opacity: 0;

    + label {
      box-sizing: border-box;
      background-color: $white-color;
      cursor: pointer;
      display: inline-block;
      width: $checkbox-dim;
      height: $checkbox-dim;
      font-size: 14px;
      border: $checkbox-border solid $selected-color;
      transition: border 0.5s ease-out;

      &:hover {
        border: $checkbox-border solid $hover-color;
      }
    }

    + label.checkbox-with-label {
      position: relative;
      top: $checkbox-border;
    }

    &:focus + label {
      border: $checkbox-border solid $hover-color;
    }

    &:checked + label::before {
      content: "\f00c";
      display: inline-block;
      position: absolute;
      right: -1px;
      bottom: -1px;
      color: $white-color;
      background-color: $selected-color;
    }

    &[disabled] + label {
      cursor: auto;
      border: $checkbox-border solid $disable-color;
      &::before{
        background-color: $disable-color;
      }
    }

    + label + .custom-checkbox-label {
      cursor: pointer;
      @include user-select-none;
      font-family: sans-serif;
      font-size: 13px;
      margin-left: 8px;
    }

    &[disabled] + label + .custom-checkbox-label {
      cursor: default;
      color: $disable-color;
    }
  }
}

